{% extends "loggedinlayout.html" %}

{% block title %}
    Book
{% endblock %}

{% block body %}
    <h1>Book Details</h1>
    
    <ul class="list-group list-group-flush">
      <li class="list-group-item">ID: {{book.id}}</li>
      <li class="list-group-item">ISBN: {{book.isbn}}</li>
      <li class="list-group-item">TITLE: {{book.title}}</li>
      <li class="list-group-item">AUTHOR: {{book.author}}</li>
      <li class="list-group-item">YEAR: {{book.year}}</li>
    </ul>  
    <hr>  
{% endblock %}