{% extends "layout.html" %}

{% block title %}
    readavidy
{% endblock %}

{% block body %}
  <form class="border-top border-primary" 
        action="{{url_for('login_user')}}" 
        method="post">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" name="username">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" name="password">
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="rememberme"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-outline-primary">Login</button>
  </form>
{% endblock %}