{% extends "loggedinlayout.html" %}

{% block title %}
    Success Login!
{% endblock %}

{% block body %}

    <div class="alert alert-success alert-dismissible">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Success!</strong> {{message}}
    </div>

  
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ISBN</th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">Year</th>
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
          <tr>
            <th scope="row">{{book.id}}</th>
            <td><a href="{{book.isbn}}">{{book.isbn}}</a></td>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.year}}</td>
          </tr>    
        {% endfor %}
      </tbody>
    </table>


{% endblock %}